{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Manoj Resume</title>
		
       
        
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- animate -->
		<link rel="stylesheet" href="{%static 'css/animate.min.css' %}">
		<!-- bootstrap -->
		<link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- fullpage -->
		<link rel="stylesheet" href="{%static 'css/jquery.fullPage.css' %}">
		<!-- custom -->
		<link rel="stylesheet" href="{%static 'css/templatemo-style.css' %}">

	</head>
	<style>
		#home{
		background-image: url('static/home1.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        padding-top: 120px;
        padding-bottom: 200px;
        text-align: center;
		}
		#p1{
			color:black;
		}
		#p2{
			color:black;
		}
	</style>
	<body>

	<div id="fullpage">

		<!-- start home -->
		<div id="home" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
						<h3 id="p2">Simple and Elegant</h3>
						<h1>Manoj Mewada</h1>
						<h2 class="rotate">DESIGNER &AMP; DEVELOPER, UI &AMP; UX SPECIALIST, PROJECT Developer</h2>
						<p id="p1">full stack Web Developer Dedicated to dirving Innovation with the ability to follow industry and technological trends to achive Organizational goals. I'm a Undergrad student at computer science and engineering .I had done many projects in Web Development. I am currently doing freelancer Projects.</p>
						<a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">HIRE ME</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<!-- end home -->

		<!-- start work -->
		<div id="work" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounce">
						<h2>Education</h2>
					</div>
                </div>  
                
                <div class="row">
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-laptop"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">2020-23(year)</h3>
								<p>Bachelor of Computer Science (B.Tech Data science collbration with IBM)</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-link"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">B.Tech</h3>
								<p> I am an Undergraduate student at svvv,Indore currently in my 4 year majoring in CSE.</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-graduation-cap"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">10th &AMP;12th</h3>
								<p>I have completed my class 10th from Tagore Convent H.S. School,Kalapipal  with a score of 87% (Mp).</p>
                                  <p>  I have completed my class 12th from Tagore Convent H.S. School,Kalapipal   with a score of 72% (Mp)..</p>
							</div>
						</div>
					</div>
                    
				</div>
			</div>
		</div>
		<!-- end work -->

		<!-- start about -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
						<h2>ABOUT MANOJ </h2>
						<h4>DESIGNER &AMP; DEVELOPER</h4>
						<p>hello! I'm Manoj Mewada and I'm a
                            full stack Web Developer Dedicated to dirving Innovation with the ability to follow industry and technological trends to achive Organizational goals. I'm a Undergrad student . </p>
                            <p>I had done many projects in Web Development. I am currently doing freelancer Projects..</p>
					</div>
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">Python <small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
						<span>Django<small>95%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
							</div>
						<span>React js<small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
						<span>HTLM5 &AMP; CSS3 <small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
                            <span>Javascript<small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
                            <span>Bootsrap<small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
                            <span>ES6<small>87%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 87%;"></div>
							</div>
                            <span>Oracle<small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
							</div>
                            <span>MySql<small>75%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
							</div>
                            <span>Jquery<small>80%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
							</div>
                         
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->

		<!-- start portfolio -->
		<div id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="wow bounce">PROJECTS</h2>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
					<a href="https://manojres.vercel.app/">	<img src="{%static 'images/portfolio-img1.jpg' %}" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Web Design</h4>
								<h5>My other resume</h5>
							</div></a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
					<a href="apirrest.vercel.app">	<img src="{%static 'images/portfolio-img2.jpg' %}" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Api</h4>
								<h5>Use Api</h5>
							</div></a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<a href="https://github.com/manojmewada/exceldata.git"> <img src="{%static 'images/portfolio-img3.jpg' %}" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Excel data</h4>
								<h5>gitproject</h5>
							</div></a>
					</div>
				</div>
				<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
					<a href="https://github.com/manojmewada/sanskritipublicschool.git">	<img src="{%static 'images/portfolio-img4.jpg' %}" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>ERP</h4>
								<h5>.....</h5>
							</div></a>
					</div>
				</div>
				<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
                        <a href="apirrest.vercel.app">		<img src="{%static 'images/portfolio-img5.jpg' %}" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>..</h4>
								<h5>Api calling</h5>
							</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

		<!-- start contact -->
		<div id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<address>
							<p class="contact-title">CONTACT ME</p>
							<p><i class="fa fa-phone"></i> 8823088021</p>
							<p><i class="fa fa-envelope-o"></i> mewadamanoj948@gmail.com</p>
							<p><i class="fa fa-map-marker"></i>Akodiya,India</p>
						</address>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
						<form role="form" method="post" action="#">
							<input name="name" type="text" class="form-control" id="name" placeholder="Your Name">
							<input name="email" type="email" class="form-control" id="email" placeholder="Your Email">
							<textarea name="message" rows="5" class="form-control" id="message" placeholder="Your Message"></textarea>
							<input name="send" type="submit" class="form-control" id="send" value="SEND ME">
						</form>
					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
		</div>
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
						<p>Copyright &copy; Manoj Mewada
                        
                        . Designed by <a rel="nofollow noopener" href="">Manoj Mewada</a></p>
						<hr>
						<ul class="social-icon">
							<li><a href="https://github.com/manojmewada/" class="fa fa-github"></a></li>
							<li><a href="https://www.linkedin.com/in/manoj-mewada-b0b245240/"  class="fa fa-linkedin"></a></li>
							<li> <a href="https://www.instagram.com/maths_lover._/" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

	</div>

		<!-- jQuery -->
		<script src="{%static 'js/jquery.js' %}"></script>
		<!-- bootstrap -->
		<script src="{%static 'js/bootstrap.min.js' %}"></script>
		<!-- fullpage -->
		<script src="{%static 'js/jquery.fullPage.js' %}"></script>
		<!-- smoothScroll -->
		<script src="{%static 'js/smoothscroll.js' %}"></script>
		<!-- wow -->
		<script src="{%static 'js/wow.min.js' %}"></script>
		<!-- text rotater -->
		<script src="{%static 'js/jquery.simple-text-rotator.js' %}"></script>
		<!-- custom -->
		<script src="{%static 'js/custom.js' %}"></script>

	</body>
</html>